@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'ABeeZee', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html.sr .load-hidden {
    visibility: hidden;
}

.react-images__view-image--isModal {
 display: inline-block;
 left: 50%
}

.header {
    position: relative;
    z-index: 1!important;
    margin: 5em auto;
    height: 82vh;
}

@media (min-width: 600px) {
    .header {
        height: 100vh;
    }
}


.section-gray {
    background: #a7a7a7;
}

.curve-start {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 250px;
    background-image: url("../assets/wave-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.curve-end {
    position: absolute;
    transform: translate(0, -140px);
    left: 0;
    padding: 0;
    width: 100%!important;
    height: 200px!important;
    margin: 0;
    padding: 0;
    background-image: url("../assets/layered-waves-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

@media (max-width: 600px) {
    .curve-end {
        background-image: url("../assets/layered-waves-haikei-500.svg");
    }
}

.line {
    margin: 2em 0 1em;
    width: 20em;
    max-widht: 80px;
    height: 2px;
    color: white;
}

.msg-hello {
    font-family: 'Rowdies';
}

.iconWhats {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background-color: #25D366;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    z-index: 1;
}

.scroll-to-top {
    position: fixed!important;
    bottom: 6.5em!important;
    right: 2em!important;
    width: 3em!important;
    height: 3em!important;
    background-color: #525252!important;
    border-radius: 50%!important;
}

div.dotted {
    position: absolute;
    width:8em;
    height:8em;
    z-index: 0;
    border-radius: 30% 80% 60% 55%;
    opacity: 0.12;
    transform: translate(-28vw, -15vh) rotate(120deg);
}

.dotted {
    width: 200px;
    height: 200px;
    background-image: -moz-linear-gradient(45deg, #666 25%, transparent 25%), 
        -moz-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -moz-linear-gradient(45deg, transparent 75%, #666 75%), 
        -moz-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #666), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #666), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #666)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #666));
    background-image: -webkit-linear-gradient(45deg, #666 25%, transparent 25%), 
        -webkit-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -webkit-linear-gradient(45deg, transparent 75%, #666 75%), 
        -webkit-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: -o-linear-gradient(45deg, #666 25%, transparent 25%), 
        -o-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -o-linear-gradient(45deg, transparent 75%, #666 75%), 
        -o-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: linear-gradient(45deg, #666 25%, transparent 25%), 
        linear-gradient(-45deg, #666 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #666 75%), 
        linear-gradient(-45deg, transparent 75%, #666 75%);
    -moz-background-size: 2px 2px;
    background-size: 2px 2px;
    -webkit-background-size: 2px 2.1px;
    background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}